/*顶部搜索栏*/
.ui-header{
    background-color: #29aae3 !important;
    color: whitesmoke !important;
    padding: 0em 1em;
}
/*一级分类图标*/
.category_list {
    background-color: #29aae3 !important;
    margin: 0 !important;
    padding: 0.4em !important;
    /*margin-bottom: .5em !important;*/
    box-sizing: border-box;
    color: whitesmoke !important;
    text-shadow: none !important;
    font-weight: bold;
    font-size: 12.5px !important;
    text-align: center;
}
/*图标*/
.icon{
    width: 3rem;
    height: 2.8rem;
    line-height: 3.4rem;
    border-radius: .8rem;
    display: block;
    margin: 0 auto;
    padding-bottom: 0.2em;
    text-align: center;
    font-size: 1.8rem;
}
/*底部菜单栏*/
.menu a{
    line-height: 28px;
    font-size: 14px!important;
}

.menu .active{
    color: #f5f5f5!important;
    background-color: #337ab7!important;
    text-shadow: none!important;
}
/*回到顶部按钮*/
#small-chat {
    position: fixed;
    bottom: 35px;
    right: 15px;
    z-index: 100;
}
/*回到顶部按钮*/
.open-small-chat {
    height: 28px;
    width: 28px;
    display: block;
    background: #1ab394;
    padding: 4px 3px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}
/*文章内容表格自适应宽度*/
#article-content table{
    table-layout: fixed;
    word-break: break-all;
}
/*文章内容图片自适应宽度*/
#article-content img{
    max-width: 100%;
    width: auto!important;
    height: auto!important;
}

/*高亮搜索关键字*/
.highlight {
    color: red;
}

.m {
    margin: -1em;
}

